{% extends "base.html" %}
{% block title %} Aggiungi Autore {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}

{% endwith %}

<form action="/addauthor" method="post">
	<div class="field">
			<div class="control">
					<input class="input is-large" type="text" name="nome" placeholder="Nome dell'autore" required>
			</div>
	</div>
  <div class="field">
      <div class="control">
         	<input class="input is-large" type="text" name="cognome" placeholder="Cognome dell'autore" required>
      </div>
  </div>


          <div class="field">
              <div class="control">
                <select name="genere1" required>
                      <option selected="true" value="" disabled="disabled">Scegli un genere</option>
                  {% for gen in generi %}
                      <option value="{{gen[0]}}">{{gen[1]}} </option>
                  {% endfor  %}
               </select>
              </div>
          </div>

<div class="field">
    <div class="control">
        <input class="input is-large" type="text" name="stato" placeholder="Stato dell'autore" required>
    </div>
</div>
<div class="field">
    <div class="control">
        <input class="input is-large" type="date" name="data_nascita" placeholder="Data di nascita" required>
    </div>
</div>


<div class="field">
    <div class="control">
        <input class="input is-large" type="text" name="descr" placeholder="Stato dell'autore" required>
    </div>
</div>



		<div>
			<button type="submit">Registralo </button>
		</div>
</form>
<style>
form{
  position: absolute;
    width: 100%;
    top: 11vw;
    left: 0%;
    align-items: center;
    text-align: center;
}
</style>



{% endblock %}
