{% extends "base.html" %}
{% block title %} HAI PRENOTATO {% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}

{% endwith %}

{% if error == "rollback" %}
      <h3> ERRORE NELLA PRENOTAZIONE  </h3>
{% else %}
      <h3> PRENOTAZIONE EFFETTUATA </h3>
{% endif %}



    <a href="/allbook" >Vedi le prenotazioni </a>


<style>
form{
  position: absolute;
    width: 100%;
    top: 11vw;
    left: 0%;
    align-items: center;
    text-align: center;
}
</style>


{% endblock %}
