{% extends "base.html" %}
{% block title %} FILM {% endblock %}

{% block navbar %}

      {% if current_user.is_authenticated :%}
        <a class="btn btn-danger  d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/logout" role="button">Logout</a>
      {% else: %}
        <a class="btn  btn-success d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/login" role="button">Login</a>
        <a class="btn  btn-info d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/signup" role="button">Signup</a>
      {% endif%}
{% endblock %}




{% block content %}

<img src="{{url_for('static', filename='{{str(film[1])}}.jpg')}}" alt="Mia Immagine" style= "width:400px;height:400px;">


          <h2>{{film[1]}}</h2>





<hr><hr><hr><hr><hr><hr>

          <h3>Attori</h3>

          <p>{{attore[0]}} {{attore[1]}}</p>


          <p>La durata del film è di {{film[3]}} minuti</p>



          <p>Generi :
              {% for n in generi%}
                {{n}}</p>
              {% endfor %}






{%if film[5] == True :%}
    <p>Disponibile in lingua originale: si</p>
{% else %}
    <p>Disponibile in lingua originale: no</p>
{%endif%}


<div class="contenitore">
       <div class="table">
          <div class="table-header">
                  <div class="header__item">Sala </div>
                  <div class="header__item">Film </div>
                  <div class="header__item">Data </div>
                  <div class="header__item">Ora </div>
                  <div class="header__item">Posti Liberi </div>
                  <div class="header__item">Posti Occupati </div>
          </div>
  <div class="table-content">
  {% for n in results %}
        <div class="table-row">
            <div class="table-data">{{sale[loop.index-1] }}</div>


  {% if current_user.is_authenticated :%}
          <div class="table-data">
          <form action="/film" method="post" id="form">
          <input type="hidden" name="film" value="{{n[2]}}">
          <a href="javascript:{}" onclick="document.getElementById('form').submit(); return false;">{{titoli[loop.index-1] }}</a>
          </form>
          </div>
  {% else: %}
          <div class="table-data">{{titoli[loop.index-1] }}</div>
  {% endif%}


            <div class="table-data">{{n[3] }}</div>
            <div class="table-data">{{n[4] }}</div>
            <div class="table-data">{{n[5] }}</div>
            <div class="table-data">{{n[6] }}</div>
    </div>
  {% endfor  %}
  </div>
  </div>
  </div>


<button type="button" onclick="alert('Hello world!')">Prenota</button>





{% endblock %}
