{% extends "base.html" %}
{% block title %} FILM {% endblock %}

{% block navbar %}

      {% if current_user.is_authenticated :%}
        <a class="btn btn-danger  d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/logout" role="button">Logout</a>
      {% else: %}
        <a class="btn  btn-success d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/login" role="button">Login</a>
        <a class="btn  btn-info d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/signup" role="button">Signup</a>
      {% endif%}
{% endblock %}





{% block content %}
<div class="film_top">
          <img src="{{url_for('static', filename=film[1]+'.jpg')}}" alt="Mia Immagine" style= "width:400px;height:400px;">
          <h3>{{film[1]}}</h3>
          <br>
          <form action="/author" method="post" id="form_author">
          <input type="hidden" type="number" name="autore" value="{{film[9]}}">
          <h4><a href="javascript:{}" onclick="document.getElementById('form_author').submit(); return false;">Regista</a></h4>
          </form>
                <p>{{film[2]}} {{film[3]}}</p>
          <p>La durata del film è di {{film[4]}} minuti</p>
          <p>Generi : {{film[5]}}
                  {%if film[6]:%}{{film[6]}}{%endif%}
                  {%if film[7]:%}{{film[7]}}{%endif%}
          </p>

{%if film[8] == True :%}
    <p>Disponibile in lingua originale: si</p>
{% else %}
    <p>Disponibile in lingua originale: no</p>
{%endif%}

</div>

<div class="contenitore">
       <div class="table">
          <div class="table-header">
                  <div class="header__item">Sala </div>
                  <div class="header__item">Data </div>
                  <div class="header__item">Ora </div>
                  <div class="header__item">Posti Liberi </div>
                  <div class="header__item">Posti Occupati </div>
                  <div class="header__item">Prenota </div>
          </div>
  <div class="table-content">
  {% for n in tabella %}
        <div class="table-row">
            <div class="table-data">{{n[1] }}</div>
            <div class="table-data">{{n[2]}}</div>
            <div class="table-data">{{n[3] }}</div>
            <div class="table-data">{{n[4] }}</div>
            <div class="table-data">{{n[5] }}</div>
            <div class="table-data">
            <form action="/choosesit" method="post" id="form{{n[0]}}">
            <input type="hidden" type="number" name="proiezione" value="{{n[0]}}">
            <a href="javascript:{}" onclick="document.getElementById('form{{n[0]}}').submit(); return false;">ACQUISTA</a>
            </form>
            </div>
    </div>
  {% endfor  %}
  </div>
  </div>
  </div>


<style>
*, *:before, *:after {
  box-sizing: border-box;
}
.film_top{
  position: absolute;
    left: 0%;
    top: 11vw;
    width: 100%;
    text-align: center;
}
body {
  padding: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.contenitore {
  position: absolute;
      top: 45vw;
      left: 0vw;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
}

.table {
  width: 100%;
  border: 1px solid #EEEEEE;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #EEEEEE;
}

.table-data, .header__item {
  flex: 1 1 20%;
  text-align: center;
}

.header__item {
  text-transform: uppercase;
  color: white;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: '';
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: '(desc)';
}
.filter__link.asc::after {
  content: '(asc)';
}
</style>


{% endblock %}
